*{
    margin: 0;
    padding: 0;
    }

@font-face {
    font-family:'minhafonte';
    src:url("Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

header{
    background-color: #005883;
    text-align: center ;
    color: white;
    font-size: 50px;
    font-family: minhafonte;
}


body{
    background-color: rgba(232, 227, 227, 0.844)
    font-family: minhafonte;
}

p {
    color: black; 
    text-align: center;
}

.inform{
    color: black; 
    text-align: center;
}

.fund{
    color: black; 
    text-align: center;
}

.credit{
    color: black;
    text-align: end;
}

form{
    color: black; 
    text-align: center;
    margin: auto;
    text-align: center"
}

table{
    border: 1px solid;
    text-align: center;
}

.image{
    text-align:center;
}

.tabela{
    text-align: center;
}
footer{
    font-family: minhafonte;
    text-align: right;
    background-color: #005883;
    color: white;
    size: 15;
}
