*{
    margin: 0;
    padding: 0;
    }

header{
    background-color: #005883;
    text-align: center ;
    color: white;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}


body{
    background-color: rgba(219, 212, 212, 0.932);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

p {
    color: black; 
    text-align: center;
}

.inform{
    color: black; 
    text-align: center;
}

.fund{
    color: black; 
    text-align: center;
}

.credit{
    color: black;
    text-align: end;
}

form{
    color: black; 
    text-align: center;
    margin: auto;
    text-align: center"
}

table, th, td {
    border: 1px solid;
    text-align: center;
    width: 50%;
    margin-bottom : .15em;
    table-layout: fixed;

}

.image{
    text-align:center;
}

.tabela{
    text-align: center;
}

footer{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-color: #005883;
    color: white;
    size: 15;
}
